*~
\#*
.\#*
*.[oad]
*.so
*.swp
*.swo
*.orig
*.jar
*.class
*.vim
*.kate-swp
tags
/build
/source/cmake
/source/core/config.h
/testbin
dump
dump.*
cscope.out
cscope.files
*_flymake.rb
*.start
*.result.yaml
query.yaml
/scripts/pkg
/package
.project
.cproject
.classpath
help
/.dep
/pkg
.settings
GPATH
GRTAGS
GSYMS
GTAGS
cscope.files
cscope.out
BROWSE
TAGS
/test/TestResources.h
/run
/config
/instances/*.xml
/log
scripts/ScdMerger
scripts/tmp
b5m/working
