^数码>手机通讯>手机$,C0001
^数码>手机通讯>手机配件$,C0002
^数码>摄影摄像>单反相机$,C0003
^数码>摄影摄像>数码相机$,C0004
^数码>摄影摄像>数码摄像机$,C0005
^数码>摄影摄像>卡片相机$,C0006
^数码>摄影摄像>单电相机$,C0007
^数码>电脑硬件>显示器$,C0008
^数码>电脑>台式机$,C0009
^数码>电脑>一体机$,C0010
^数码>电脑>笔记本$,C0011
^数码>电脑>平板电脑$,C0012
^家用电器>大家电>液晶电视$,C0013
^家用电器>大家电>LED电视$,C0014
^家用电器>大家电>洗衣机$,C0015
^家用电器>大家电>空调$,C0016
^家用电器>大家电>消毒碗柜$,C0017
^家用电器>大家电>等离子电视$,C0018
^家用电器>大家电>油烟机$,C0019
^家用电器>大家电>燃气灶$,C0020
^家用电器>大家电>烟灶消毒装$,C0021
^家用电器>大家电>冷柜$,C0022
^家用电器>厨房电器>豆浆机$,C0023
^家用电器>厨房电器>电水壶$,C0024
^家用电器>厨房电器>电炖锅$,C0025
^家用电器>厨房电器>电饭煲$,C0026
^家用电器>厨房电器>电压力锅$,C0027
^家用电器>厨房电器>电烤箱$,C0028
^家用电器>厨房电器>微波炉$,C0029
^家用电器>厨房电器>电磁炉$,C0030
^家用电器>厨房电器>饮水机$,C0031
^家用电器>厨房电器>料理机$,C0032
^家用电器>影音电器>硬盘播放器$,C0033
^家用电器>影音电器>DVD影碟机$,C0034
^家用电器>影音电器>组合音响$,C0035
^家用电器>影音电器>家庭影院$,C0036
^家用电器>影音电器>耳机$,C0037
^家用电器>影音电器>麦克风$,C0038
^家用电器>影音电器>HIFI音箱$,C0039
^家用电器>影音电器>功放$,C0040
^家用电器>影音电器>低音炮$,C0041
^家用电器>影音电器>便携DVD$,C0042

^图书,C9000,COMPLETE,ISBN
^(服装服饰|鞋靴|运动户外|皮具箱包|个护化妆|珠宝饰品|居家生活|食品|医疗保健|母婴用品|兴趣爱好|家用电器>(护理电器|生活电器)).*$,C9001,SIMILARITY
